body {
  background-color: #767676;
  background: url("./img/background.png");
  background-size: cover;
  color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  max-width: 700px;
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: #444;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
}

#upgrades-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  margin-bottom: 10px;
  padding: 20px;
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#upgrades-container button {
  background-color: #444;
  color: white;
  border: none;
  padding:15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: url('./img/cursor.png'), auto;
  transition: all 0.3s ease, backgroud-colour 0.2s;
  transform: scale(1);
}

#upgrades-container button:hover {
  background-color: #555;
  transform: scale(1.05);
}

p {
  font-size: 30px;
  margin: 5px 0;
  color: white;
  text-align: center;
}

#cookie-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5px;
  position: relative;
}

#reset-btn {
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  width: 150px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

#reset-btn:hover {
  background-color: rgb(255, 0, 0);
}

#cookie-image {
  width: 400px;
  height: auto;
  padding: 15px;
  cursor: url('./img/cursor.png'), auto;
  transition: transform 0.3s ease;
}

#cookie-image:active {
  transform: scale(1.2);
}

#alert {
  color: rgb(0, 0, 0);
  padding: 35px;
  position: fixed;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 1000;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2)
}

#alert button {
  display: inline-block;
  margin-top: 20px;
  align-items: center;
  font-size: 20px;
  background-color: white;
  color: #000000;
  border: 2px solid black;
  border-radius: 8px;
  padding: 15px 25px;
  cursor: pointer;
}

#alert button:hover {
  background-color: black;
  color: white;
}

.hidden {
  display: none;
}


 @media (max-width: 768px) {
  #cookie {
      width: 150px;
      height: 150px;
  }
  #score {
      font-size: 1.5em;
  }
  #upgrade {
      font-size: 0.9em;
      padding: 8px;
  }
}

/*for smaller screens*/
@media (max-width: 480px) {
  #cookie {
      width: 100px;
      height: 100px;
  }
  #score {
      font-size: 1.2em;
  }
  #upgrade {
      font-size: 0.8em;
      padding: 6px;
  }
}